BOT_TOKEN=your_telegram_bot_token
ADMIN_IDS=123456789
CLUB_INVITE_LINK=https://t.me/your_private_club_link
OWNER_CONTACT_URL=https://t.me/kopytov_v_a
DATABASE_PATH=bot.db
TIMEZONE=Europe/Minsk
CLUB_CHAT_ID=-1001234567890
TRIAL_CHAT_ID=
WELCOME_IMAGE_PATH=assets/welcome.jpg
WELCOME_IMAGE_URL=
LOG_LEVEL=INFO
TRIAL_CLUB_INVITE_LINK=https://t.me/your_trial_club_link

PUBLIC_CHANNEL_ID=@your_public_channel

